<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle6</string>
		<string>161.8.0.237618</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 734}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>0</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>DisplayScale</key>
	<string>1 in = 1 in</string>
	<key>FileType</key>
	<string>auto</string>
	<key>GraphDocumentVersion</key>
	<integer>12</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{126, 288}, {18, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>162</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{207, 243}, {36.000000000000028, 27}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>155</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.23965939287285565, -0.015468326127585641}</string>
			</array>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.49999999999999911, 0.5}</string>
					<string>{-0.49999999999999911, 0.5}</string>
					<string>{0, -0.5}</string>
					<string>{0, -0.5}</string>
					<string>{0, -0.5}</string>
					<string>{0.50000000000000089, -0.5}</string>
					<string>{0.50000000000000089, -0.5}</string>
					<string>{0.50000000000000089, -0.5}</string>
					<string>{0, 0.5}</string>
					<string>{0, 0.5}</string>
					<string>{0, 0.5}</string>
					<string>{-0.49999999999999911, 0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.95</string>
						<key>g</key>
						<string>0.95</string>
						<key>r</key>
						<string>0.95</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>121</integer>
			</dict>
			<key>ID</key>
			<integer>148</integer>
			<key>Points</key>
			<array>
				<string>{153, 333}</string>
				<string>{162, 324}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>147</integer>
				<key>Info</key>
				<integer>1</integer>
			</dict>
			<key>ID</key>
			<integer>161</integer>
			<key>Points</key>
			<array>
				<string>{81, 279}</string>
				<string>{153, 279}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>147</integer>
			<key>Points</key>
			<array>
				<string>{153, 333}</string>
				<string>{153, 279}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>115</integer>
				<key>Info</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{175, 309}, {14, 6}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>139</integer>
			<key>ImageID</key>
			<integer>17</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{225, 270}, {72, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>136</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{207, 288}, {18, 54}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>127</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>121</integer>
			<key>Points</key>
			<array>
				<string>{162, 324}</string>
				<string>{162, 270}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>120</integer>
			<key>Points</key>
			<array>
				<string>{90, 270}</string>
				<string>{162, 270}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>119</integer>
			<key>Points</key>
			<array>
				<string>{126, 288}</string>
				<string>{144, 270}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>116</integer>
			<key>Points</key>
			<array>
				<string>{144, 306}</string>
				<string>{162, 288}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>115</integer>
			<key>Points</key>
			<array>
				<string>{144, 342}</string>
				<string>{153, 333}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>114</integer>
			<key>Points</key>
			<array>
				<string>{144, 324}</string>
				<string>{162, 306}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>113</integer>
			<key>Points</key>
			<array>
				<string>{108, 288}</string>
				<string>{126, 270}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>112</integer>
			<key>Points</key>
			<array>
				<string>{144, 288}</string>
				<string>{162, 270}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>110</integer>
			<key>Points</key>
			<array>
				<string>{90, 288}</string>
				<string>{108, 270}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>109</integer>
			<key>Points</key>
			<array>
				<string>{72, 288}</string>
				<string>{90, 270}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{126, 324}, {18, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>108</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{108, 324}, {18, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>107</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{90, 324}, {18, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>106</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{72, 324}, {18, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>105</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{126, 306}, {18, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>104</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{108, 306}, {18, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>103</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{90, 306}, {18, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>102</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{72, 306}, {18, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>101</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{108, 288}, {18, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>99</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{90, 288}, {18, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>98</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{72, 288}, {18, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>97</integer>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>MinorGridColor</key>
		<dict>
			<key>a</key>
			<string>0.3</string>
			<key>w</key>
			<string>0.666667</string>
		</dict>
		<key>ShowsGrid</key>
		<string>YES</string>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>18</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict>
			<key>ApplicationURL</key>
			<string>http://pierre.chachatelier.fr/latexit/index.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGfX5YJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QGQcIDiYnKzI4OUBBSUpOUVVZWmBk
			aGxwdHlVJG51bGzSCQoLDVpOUy5vYmplY3RzViRjbGFzc6EMgAKA
			GNwPEBESExQVFgoXGBkaGxwdHh8gISIjJCVXcGRmRGF0YVpzb3Vy
			Y2VUZXh0WXBvaW50U2l6ZVhiYXNlbGluZVhwcmVhbWJsZVd2ZXJz
			aW9uXxAPYmFja2dyb3VuZENvbG9yVWNvbG9yVG1vZGVVdGl0bGVU
			ZGF0ZYAEgA8jQDQAAAAAAAAjAAAAAAAAAACABoADgACAEYAXEASA
			FYATVTIuNi4x0igKKSpXTlMuZGF0YU8RMbUlUERGLTEuNQol0NTF
			2Ao1IDAgb2JqIDw8Ci9MZW5ndGggMjkgICAgICAgIAovRmlsdGVy
			IC9GbGF0ZURlY29kZQo+PgpzdHJlYW0KeNor5DJUMABCCJmcy6Xv
			lmuo4JLPFcgFAEosBYMKZW5kc3RyZWFtCmVuZG9iagoyIDAgb2Jq
			IDw8Ci9UeXBlIC9YT2JqZWN0Ci9TdWJ0eXBlIC9Gb3JtCi9CQm94
			IFswIDAgMTQgNl0KL0Zvcm1UeXBlIDEKL01hdHJpeCBbMSAwIDAg
			MSAwIDBdCi9SZXNvdXJjZXMgOCAwIFIKL0xlbmd0aCAzOCAgICAg
			ICAgCi9GaWx0ZXIgL0ZsYXRlRGVjb2RlCj4+CnN0cmVhbQp42ivk
			MlQwAEJDBV1DUyA2MjdUSM7l0vfMNVRwyecK5AIAbD8GsQplbmRz
			dHJlYW0KZW5kb2JqCjEgMCBvYmogPDwKL1R5cGUgL1hPYmplY3QK
			L1N1YnR5cGUgL0Zvcm0KL0Zvcm1UeXBlIDEKL1BURVguRmlsZU5h
			bWUgKC92YXIvZm9sZGVycy95cy9ocXBrZHRxajM3M2Q4ZF80eGp3
			d2QxNm0wMDAwZ24vVC9MYVRlWGlULTIuNi4xL2xhdGV4aXQtMi0y
			LnBkZikKL1BURVguUGFnZU51bWJlciAxCi9QVEVYLkluZm9EaWN0
			IDkgMCBSCi9CQm94IFswIDAgNjIwIDEyODBdCi9SZXNvdXJjZXMg
			PDwKL1hPYmplY3QgPDwKL0ZtMSAxMCAwIFIKPj4vUHJvY1NldCBb
			IC9QREYgXQo+PgovTGVuZ3RoIDU3Ci9GaWx0ZXIgL0ZsYXRlRGVj
			b2RlCj4+CnN0cmVhbQp42jNUMABCQwVDEz1LExMFQyNzAz0DY3OF
			5FyuQi4jsCSEBAsYQlVDBfTdcg0VXPK5AoEQAP7/DjkKZW5kc3Ry
			ZWFtCmVuZG9iagoxMCAwIG9iago8PAovVHlwZSAvWE9iamVjdAov
			U3VidHlwZSAvRm9ybQovQkJveCBbIDAgMCA4IDRdCi9Gb3JtVHlw
			ZSAxCi9NYXRyaXggWyAxIDAgMCAxIDAgMF0KL1Jlc291cmNlcyAx
			MSAwIFIKL0xlbmd0aCA0NgovRmlsdGVyIC9GbGF0ZURlY29kZQo+
			PgpzdHJlYW0KeNor5DJUMABCQwVdYwNDPUtLSwVdM2NTIMNCITmX
			S98z11DBJZ8rkAsAp2UIYwplbmRzdHJlYW0KZW5kb2JqCjEyIDAg
			b2JqCjw8Ci9UeXBlIC9YT2JqZWN0Ci9TdWJ0eXBlIC9Gb3JtCi9G
			b3JtVHlwZSAxCi9QVEVYLkZpbGVOYW1lICguL2xhdGV4aXQtMi5w
			ZGYpCi9QVEVYLlBhZ2VOdW1iZXIgMQovUFRFWC5JbmZvRGljdCAx
			MyAwIFIKL0JCb3ggWyAwIDAgNjEyIDc5Ml0KL1Jlc291cmNlcyA8
			PAovRm9udCA8PAovRjggMTQgMCBSCj4+Ci9Qcm9jU2V0IFsvUERG
			L1RleHRdCj4+Ci9MZW5ndGggNjcKL0ZpbHRlciAvRmxhdGVEZWNv
			ZGUKPj4Kc3RyZWFtCnjaM1BIVzBQcOcygNJOIVz6bhYKlnqWZkZm
			CiFpCsYGhnrmpgpmxqZ6xoYWCiEpCtEatpqxIV5wLTDaNYQLAGuW
			D8UKZW5kc3RyZWFtCmVuZG9iagoxOSAwIG9iago8PAovTGVuZ3Ro
			MSAxMzg5Ci9MZW5ndGgyIDU5MDYKL0xlbmd0aDMgMAovTGVuZ3Ro
			IDY4NDkKL0ZpbHRlciAvRmxhdGVEZWNvZGUKPj4Kc3RyZWFtCnja
			jXQFVJTt1jaIIAwCSoPEA5KSQ5d0N9LNAAOMDjMwDN3NSxiAKCmp
			MJQgSKqkhKR0I600SEp8Y7znnPf8/1rft2atZ55772vvfV977+th
			Z9E35FNwRNpDVZEINB+YX1AKUNK5BxYEBAWF+QUFhUDs7EYwNBz6
			xwxiN4GiPGBIhNR/AJRQUAgaa1OGoLE4HSQC0PSEA2BhACwmBRaX
			EhQEhAQFJf8GIlFSgDLEC+YI6PADmkgE1APEroR080XBnF3Q2DJ/
			vwJcDtwAWFJSnPdXOKDgCkXBHCAIQAeCdoG6Yis6QOCAIdIBBkX7
			/iMFl4wLGu0mJSDg7e3ND3H14EeinGW5eQFvGNoFuAf1gKK8oI7A
			T8KALsQV+psZP4gdMHKBefy2GyKd0N4QFBTAGuAwByjCAxvhiXCE
			ogBsccBQQxvQc4MifoO1fwN4gT+9AcD84H+l+xP9MxEM8SsY4uCA
			dHWDIHxhCGfACQaHAnqq2vxoHzQvAEE4/gRC4B5IbDzECwKDQ+yx
			gF83hwCqCgYABEvwDz0PBxTMDe3B7wGD/6Qo8DMNtssqCEclpKsr
			FIH2AP28nzIMBXXAtt1X4PdkHyCQ3gj/PwcnGMLR6ScJR083AWME
			zN0TqqH8B4I1gf5tc4aiAVFBQUFxSWEA6g5AfRxcBH6mN/J1g/5y
			gn+asQwC/d2QboATlgQ0EOYExf6B/D0gXlAAjfKEBvr/p+OfJxAY
			DDjCHNCAPdQZhgD9OzvWDHX6fcYOHwXzASwFsbsHBgR//v71Zo1d
			L0ckAu77b/iv+QpoqpsbGarx/Gb8L5+iItIH8OcTEQT4hEQFAfDP
			JRPHvgT+M82/GvA3+V9WfQjsz+X+I6MGwgkJSP7mgG3e3zy8/qwF
			1x/JcAP/rKCLxO4yFOD69+pbCYoKOmAf4P+zAH6F/P/2/meW/231
			//tCqp5w+C831y///+OGuMLgvn8A2FX2RGNloYPEigPx31BT6G8p
			60AdYZ6u/+3VQEOw8lBAOMP/1UaYhyrMB+qoD0M7uPzeob+ngE0P
			hyGg+kgP2M+PDcCHHdh/+bCCc3iA/aB4YGf1ywXF6umfJVUQDkjH
			n8ITEhUDICgUxBeEHT32JAr4g7EKdYT6/FptQIAfgURjQwAsvUDA
			CYkC/ZyoGBgQgLp7YvuONYP+kdrBE4XCau7X8LF1/z7/EjgU6gN1
			AE2MIh2kI+5XRjQev1a45c233Hd3iH3Z9Dk3n/8E6p3nKem1p9zl
			GWFzqEOFp10tN6YXVbgO5CeZz/3X66quRdcnGTT8CDizfXJvcLkB
			ND5A/bE/f13hTTsjEQOfkfxKwLl7gEnoA7w63A+a7NnunhKk+rkU
			x95taj5v2jFTPVGjywYr5WJaxGeYz3wJxvFWoa+G2XPsM0doWQnQ
			fIyEd8h3fMiGDw6HyF/0XzJrPuEBBW4kCBf4W8wLPTwZ8ZspMRLy
			aKJjo7OgZcQ7IO8Z5PBXXEvRpBnzLyyY/jjuUydTwPyChPfZNN8N
			/jWh9HLYvThETWuFV8/Ee/BS9lMggvPWR4qlpIqiGkpbFKseVXmD
			bRwFukL4AZRx7b2T4kzjoUmz0/1nDJOSn99cAsMk5i7rIbXN/j+q
			3Ge6uj/yHUU9qz/uqulebA40fSXXLsfg7A2+o+JiGTs9JZXO+Awf
			g+690mQK1aC8wTvp9VTiDB8SKeMftqt4Sg9eyBcUtJDAb8XtYdgS
			zQ7YfRhYWr2j+35++OYY3JvcOvwyXEz30v7Ds52dfDoXYRW7jCiu
			nHSV5r9yZh9xGkhXQquHwzECO/Ol1PzKRb7M2okLouO7HWwFIhpq
			rctjZV2xVmG+908k8/i3TEqNGx6L5hmwLG3E8fWuVYd2KoZHtkke
			Oq4tHBYXK9pQfUWanOyUescodj38YiQekfPX+3shL5o89FLVFOKu
			vDxaHGklsr+9aaToxeJa84jM1Oju6WJv08szb16MhjI7Z8GETrvW
			V5nogAnrceWCVrrXIfLUfx3UhAhVvtM75sK5nnFj5iF7xsoU3m3b
			d101JrsX9Iq3DI2Oc2/7zeO0jn3uXWT5NLjI5g8vtXol0lYLSIvG
			p+LBn3CwjC2GpO3P3eWKj71wiq2dNfZWqJpkqEgf/gid2+jsuap4
			+9o7YUFK2b4NdSC/iDNjVruAh/JyNCnr/oJfpvwp86Pau2UeVpWz
			lAcykcV3rZrMcdnmlOVijL8RDayciT198dlHLccA0VF8Ky2WbglW
			zj6anMUyNgjSFsKhqbDMSrv5fbEgmJsl3inSLIzQYe1mHCHOoswI
			J2Vn5aOU3XsU+sIqOSwRfFIVNzlvzl8MKJBqkpXz40+0VSpp9uFo
			ojE4HK3+4gSPxSpAt0NNBloHmtZHRtVHbiXtxwkUdZOqjjl7s6qK
			Jj/y3jWMYQsovwxFGsj0rfY9IyYetAt6K5PJBBYsCiBMvZRp+Oq6
			XVVzMp4x2+WyM5sdMVf6NYSwuvr163S5Ljo7uX3xlHVqYtuebHzL
			p+/3JXz0ZUTAI4z7d9H9x+o4k2Qk0mKpdbWBKC1P8FfhH2nGSjj4
			sDTqKnV0aeXgUOChLy3T6EWQAxO71Zz7dohVff2KiJ6IF4tluu2R
			Rn3u6+035WdUH1cc4ugF5xiL93Q0T3RemAuW9Dzy8hebo00etTpu
			Ba6gXrh3pbEK0909wkvONPpsrsU/rUX7rYu7mZdGrVvLHxKjZKGo
			lvUOxMToO8VFGqvFGdUqpCc4ZPKsTExDn40N/uPraUktXxLNvGUT
			7fowtLcr7riDnpBOq2eMQ4jdOdm+3C/6SLOHLpXXExmkUyLURus3
			65mYmh09LHYnreHOS5L2FpLiwUvJD32Fc3JteVrJ1A7ctJ/6j75Y
			7Ti/QJdyyBUtPuxv+/4DQWC07v0uaaWRLdtR10qpNj2/b1LvcLRf
			vsBUyId5TcKdRdvxc9niLeR60BLYRCC+U/GufMX3000WwcRm8xyk
			3wnb5snAUUcIe1vph8EuKu8vs1+ErJGY1jmgzPZcTsPlE5nnWo6i
			65YqAY1UNZiUcDzFkbCo01fsKKxpchZgVCUpjKDVRoga7nlzFPGt
			D70uz1LzOy6U/EZ7t5MzcYmr57xR48xF97Rq1H9JjxwgfQ7G0/Zy
			GHGlwodVv2zi6GTV2fjm2iZfYzoSVUqbX+o6bc8uOPEc/86pXdr6
			tbacpLkkAaeD1kz4O3Z9FaEcKSYTBW5DRW2BFRkM9ZYoBUYpSyFv
			7igTLl3m/6mJmOt2/bgZPkKVIJGVMA7nOU6EhP+9cWTizeY2Ixqu
			JVvTnSv2ChfBWgFIHWJbitGhZ6Y35y4Ynrwj8V3SWbsUCynOrrB5
			dwRBZzETyuuB13MEMnFUd5mT3wr7Mt1OXXQg09EZG1BrtzifscRz
			Lbms9+uPVw0mICKHY06KWVs0ZcugV8dNFB+ZKjIErppwP746bdg5
			BaPjzdkOnX21fY+cupa64F2DakIHHuadfib/2jvtq4MhPsdXX9La
			WvaZmcTcpOnY/26QXU5ipH954BWefQKCdvMmul1M0oejgl2STmuT
			PKl3H0fE2/HA/ekJj6AGR6OPbeWdaMSE6dXn9CFeg350xr1Utq9f
			9FJ+tCgGM93BLHUkkJc/0uHpsHcLiZL2n8H0EIWWGghTr5mYSI/n
			NPbGDJGSkJfp8etlzcN4GyUkikeZwjdaoyKdX9y1ujsvz6o6f6ql
			emyUY//j+ZP3JqEP4Vxw57LmzEn7z6UJMyy1a5iRlJFPVl/OTyAi
			BmCa1z1BQLHkgrtJQe2rngIg0cPmwWauh+PDdASp35Nmwmuleav5
			UqMM2ll+dNYPb+5gUMSxBbmYcC9d5fdxOmrikmwa2rALjiSFcedb
			XxBwMV/caE2iR6p61XsyWkTL6/q9+XoPFRRou72ikoJnP8NzOVar
			j82Xx6o4J/pwTCcHlsM5mnIFQ7WACzqqNAEYEWzisyeRfRZ9ixJI
			oqPNT0G9YOSFMC7Il3/PMtunbmEGDVbwLMVkXndT6Oe3FMkzHBey
			907mcQDQRflbulB6WhcG5Z7KGeJ21lQWpqClYmkecTerfG8fOnLz
			BTWQzYyoSlnv9FoSFTnDC9vpuhS16qMvO19DuJgUrsNrKAa3wHbT
			Ep78+548W4sTrKf7stI7vMF+XVWD7CBkQ/lctg9ep+Bzj7Cbo510
			5KZgVZ/+reG1Z3OA84Xrk4RqHxPfg+rJm4OZrNa3/YJon71y89pr
			JslkjHqSejjeXsiPUpT8i40KUWuuVKoEPm1DYxzlbx8VSuAMPNCN
			Ho7Teo2bPSSd1/RtOAkeqnrKRUA8Hq+7H/sSV3r+S4HjRUnLj03c
			xNIbZ3N3GmNlPr7MebrYThFBgcHzaHopKVOt9ohEScUu0uRrrsv8
			u642diqDpD7VAqT+u7aFwZvhwWyYx+9YB4WFG4/0JcckNywSPCSj
			cTntFkuZSDZQk6YnUrrJBRudHkMHHck1zPIETuHXM2wYTWciOYRE
			vMmL4H7EK2zDQqbbFJXeM5EfN/Qk7S/zlln1Xr6g6O41bb2jSm49
			I/DSzhcTb1BBFNOVbGXwtOWW6h3MNMyIejdhzUYXOHS0zdOxC8+P
			MmQ3eqNbryX+qJyQ517q6IYlqiD9rNP8oJ1i09wdGthYMc5wvSDu
			aNw8Wv/0O6hPFddYJXdj/yJ+Z0grvGmETD2es7JaFtfCQL6PTGNi
			Hs2et3SZktFkWcgt3sbx/izbpQ+Reb2C7qs55/AUpOWtUesupxkq
			eHguVQBhi3iKp6mdQ01MyJUiD6pczf40kAYqrdZl9NdSrZ6b2rF5
			kG4/24L4FkS9aaddnmdNOAXJN87BrWv3P4sh91rY1p6brl/JFUn6
			Dn7OFkyBclW43PJ4StnycX8PYTGHdye14W7RUbfHwQ4yndJe3v+J
			7ygxIYuSEnOcP40DIb9psMXbjW2mFUEaBPG8vVuks4f+c0c2vkGr
			w/K+4XQObRm3D1fJa8ngFNcD6oLSqyTWTvm72lLe8jj1dfj5FnqF
			M3+xrVT0K+uOfhH1XUjOa7iRkODKt/3Gg7HoVjNcSB6LBN1Iviso
			ZSqa1tl7guUaiPBYfFmVyFze19A6aDfyxZXU0hM4UnH0a0kSEXNK
			pheL4MlaTaxqctj1mbnTrSKVOYhlTJjTsb6PSIh6ZDZVwLdrpmdV
			0lNqTKOUN8wpWIUVv4tO7J+tHH9Rt2IdKrYkOAan9KVuOojqHkti
			3GSFxDUbFM/3qz0E8LZi3zpzfS/yoTLgJUXLWpYtSPQmqXm014ZK
			Md9jk7QWo+SIOXX1LeOGVdPFenV9vd9yaFoYp912T9GG8Z4iBP5h
			3eeNbfaYeaZUpajOq/KrcytbU5TbsdcoHjaUklXfCi78IXA/P3K+
			fSKHJXDWLnlrXZnDlCGkE7M0amBWx0agPvdqlawHrZFf2kgU3DnC
			P2HOsCs/jqAqRqXcsP2+gZgObSEkea93tohW0MXn0yZBpMQ9k8O3
			naW2sY2ccqZMrA7Kov74SDrBjun1wGahlmL07I4YtO1t8zRz+ZNa
			kGzyGvyDgduTKPri3OAh7qaot5kn1QV7AgnS1wzpOK/b1B1ILaGv
			albcl/9G6VP8JlyFS1CtW7qvnmrKwP3Kw6KO5AdGnHU7WTeks2Qe
			u99CjC95hqLh2krgJLM2QLSX/hnI/clYm/vnglC5pbgBP7CSIU8T
			Q54+uDWICdp1xVCol1i4WDNFZ7I74imca3eomo2QqR7aZbAs4Oqm
			K6oljmt6Do0N4G6dGp+FxKqnlM5b1A2Vi3gmGAd+aG9bbf1eSEBp
			DAyyfEoxf7rxDeeEZRhXg3DYfLlw6AWdFvuaQ4FKee0G04/0u4oT
			PRrWt0IMCcBHwO39ofqbLqQ9lgZR2i4Yc77lsCBD1IUvRBTQ0TdX
			KxoZkGaSvJrAYH21aJDGHIc6LlJeNCRxZm6Qix50nPFEljizNbym
			S1n9fnTujUUPKhRVmM90CmiFv0V2cmC0vDyn/8Gzskl4mzRHSvlt
			mdXJtNd70MfcToNLqn7pdjUdNXK5ixoOOPKG6hwpMpf4jYlbV6Fe
			CBwJitBM1TAGq0WTCoxw+z6kVIHF17dxUWp3iIcyy4Elz2cHPyXM
			vl/nYvSvLwJOgcJzKenrn152LLKqFaXcLF3ldNLxGLw2zGxmanwe
			eHZYXVNr3ladYEMcMjzGfr+3g0X9/XacnvolYVfvQ2bbk7dx0mvR
			lX17wU8WNGu9ckgrQ62nb4PYJq5hyKY4lVzkQkVTZSIMac8ZGzY/
			vW7elU8qpc0kSoOUVIXwUaYqBDvERn2FI01xq3S49h4RoHBqXt2e
			shsbQJj735+yEw6AX/FiLLOr59SAZ58Hz1ewLFed5RwM6bd0b/gn
			5xKolD/fvtvnBlmzIQ4dd1nXe4Bnl1mzlb7odnx6vVTC03eaDbWX
			MrP/1BPkFOjg3soj2uwbxHI+Yz2SeXrruGmD1Ji3FPc9Opt7BSal
			vpf9Xi+ybYqrzBaqF/qVUdXk/YX7AAG1bInn2nwbn5pUzJfdNr/w
			rMh0dQsr9kfGm17jTThMJAN+iza0858UE3zZQ3SNFmrfCt+lLTNb
			n5drdKXUTDym5hsSjjhihC2OqctPPw516g8/f1B7j389/eDcizOk
			w5WfnLPXcLFFuaFnAu57xkwrnkSde938YFTpTWm769dqm7flap6i
			tmrp146rJ8Avf5ChBeKHiS/mE3oWdkDzIn9VgEsRMbY/lGUD3Qh4
			VpwwzpIubIynhe241vLbOid24zaf69S0DqVFiwnyvTvWG64uaaDc
			txUKhZ0UwubMb8I8S0JaZpZa994Nbm98JjdH3fjKqHxwKPUoYdKR
			6dq9ArwZIEkBffP6Oh/mMS8l90I9BJPfVe+y0C9pOfzK85LQcJVW
			UiuRLuJmm5FWEcSMbcnbuSvprV645cIVn7hb7h3heb5XNbhSLhvv
			3xDVfoXRaHKoDgxwYWpie+KnvEBh3N/y2LvBPIHn3XmJhVTf9mpb
			f357BvjDXjU8eALadKsD187zWP4KfcDVkg1mqtHpmLWqtI82k2K3
			tgSyfAd/2EF2cshfdpLEWpb3xd6w+/y+RyUrr8Wbvhl/A8J063qO
			3wpsTxsSQUMeeL/79WqX/I+82OXA9mAfspVt07f411KXEdEeD58L
			Iu6Q+pOWw+Usivz24552k8fJ1q5KbDK78WkPcnTm/cDb1rKTBeyq
			Ctlb7FJyt2Y+dHlg5Oq9PjV8tLE6++tOItXouUH3l0Jde6dInqnG
			97MRWUhWooSJV8ZEjX6D+87fnHshSw8fe1apZg+myrRSmJ36ztRi
			SgaunN5pvNLpfHgpImcmZN3yWKRQPa03N31sL82mecBdG4qszHhu
			vLkfdP2oIDFxQFx2g/tj/n6qOuJx1pX6wlIFcdav/spR92QEhNDn
			Ou0d3088ll+G/HggqWH2PdEpryhjEG/hsv/8Bw/FxEszlY1XKTc6
			+b99YWkaaGW9ozllKE7aNGnOVE7IsIa/fX+KhJHj84TCmuZ1nuKV
			mA91DYTkk+R3D1J0c5bZxLwqDemNzG/+dXuKtkz72aVI36utVbl0
			nH7Ow42j1pNgVRpHEzXtUV6eVWoPqhK1i/x5G4HaIveq1qtdh7gu
			8e1kJScnFkwlfhHKRWj568JHUPK09BdrOuPysve5ZUxd7JZ0GmNk
			L8dyuy6DvkDnN02UNUcCntXXm5EFDr5SQsV20nw06lToXCN2oj2/
			8jwvMVk/UBo/lnWoUetw6HbfE6PsGlLVo1OrVfrzI5vhJDxGejxi
			6VSipoBv9wBlq7YwEnXPYbFLg/bzgeecmQbCnfbSPrdrHzIL7zMb
			9khh7tvf3Jxir0VrPrkmINudo3e5lcGIMpkNbaHzsX5dR9Aoy72w
			/aK52joEnnmCJ4p8f8NyNWdAVfoGry5HIScFrCjWqkLXoFljT324
			9/sAc5OckdSm/LjqNs2q7iXxNUOz5hnBCpkS7gaXedNRgtB3Ik51
			qso1Lo+m+MffGF3htjHEH+RjikR4B57zEsdY6NaqUA0o4X4vPyI2
			J064hw+t9msZPtwRbvxsBXo7jt68uDD/Imr3iEY1yDbdpzkhHM84
			KyCO0yyxuiM6Qk2ezHj0hpgGsRVzasTq9KHsmVSXie2PK12yIy8l
			72gIBlIPVVux+o9TEW4LG0/6fdzt8lxSzXDC65nIjzzQnyvs5lZ5
			HCNBFnZmXJBx6s1dtuNMEfuJyn1Yat7x/u2CuvJpqhiXa+4dxAUZ
			jR5IEr46+USQFp6a+KNF1tIAg4HoKyuY02XAYs/PIyAyLDCvTXuk
			ypAitkAqxAkz4tr4qkVBePvR6I4hsVDbXbono5ZvHGvGk840M6ym
			31AzlTLsUTtsTNKGnJ2QBRB8Qr+/Dx78mK6wirqIpSprGiy7oOvR
			9Grh1WIOwCXaq4rsf2oy+/hxBuj5WbpBRJXl9KyMcbOZFMPVsMkp
			OQeeQ/b5CqJN3YZpRUNRyajj8OY3uAmYLNbW0baMN85rRl8bZ5Zs
			7ItM2wkJprgq77AB8d4EJcdr3FSx8UmLkTaUuiyo0lZzvwKZgigO
			GtQzaQVHDaVbdgIxoYEgvvsArpif1Sf4HlnPeWyGlgj9nd5QLT66
			sRnTAsNl/bjeMgWMGmd4G3Xb9CnNm4HPPSrbQuMD6vrizTTlTJvm
			S6ZdfJWqPaU2DdGKjWLe867tuUdkOSrc76lPVnfVRCPq1whIyj7H
			zzrS854S9zxdvChU36sPdkw79isw+bwZsYSSli6O0XpLIMYbGh8d
			ualaCVina3ILqTlnXXU8yjQwU/Y6vxcn0KpZR9ni0hmtK7IjeBbY
			6fKEl1n/8rGPGyIowQqDNktqSU2jggyXSg7Fi1k0UM12Hw309tWY
			mjZNp2vg6oNyq0hjRFEF+Q6JOIvfZF+hRfAIovKdRYsZwOcnm+7D
			S1TPGXUbaLepEvlJFSTnPHMK7GUI9fvB1PHyt59HRk+kk7aM2+S6
			Fygne9U7GylTPR475vsETs7sIaogB11f+ZD8sHDWvbkg2VZKLnfb
			cTxoS5esnY37gQTxQtjQHYqpdpFIw44akI2oK3pCGHwpd31YSKPE
			PNcm6bsJcd+uczdwEKsP7ZN/PpoaVkStsGGV9pfsjhradtCg4anc
			aZDnQxEPi6sNYgU7FX7uJf8DSWJO0wplbmRzdHJlYW0KZW5kb2Jq
			CjIxIDAgb2JqIDw8Ci9Qcm9kdWNlciAocGRmVGVYLTEuNDAuMTQp
			Ci9DcmVhdG9yIChUZVgpCi9DcmVhdGlvbkRhdGUgKEQ6MjAxNTA3
			MTkxMzIyMzcrMDInMDAnKQovTW9kRGF0ZSAoRDoyMDE1MDcxOTEz
			MjIzNyswMicwMCcpCi9UcmFwcGVkIC9GYWxzZQovUFRFWC5GdWxs
			YmFubmVyIChUaGlzIGlzIHBkZlRlWCwgVmVyc2lvbiAzLjE0MTU5
			MjYtMi41LTEuNDAuMTQgKFRlWCBMaXZlIDIwMTMpIGtwYXRoc2Vh
			IHZlcnNpb24gNi4xLjEpCj4+IGVuZG9iago2IDAgb2JqIDw8Ci9U
			eXBlIC9PYmpTdG0KL04gMTMKL0ZpcnN0IDg3Ci9MZW5ndGggNTkw
			ICAgICAgIAovRmlsdGVyIC9GbGF0ZURlY29kZQo+PgpzdHJlYW0K
			eNrNVE1v2kAQvftXzC2gFHt3/YWrKFKAuGkbWgRWSkU4LPZitjW2
			67Wj9t931obSpJW49FAJyczHm5mdfW8dIBDA0ANKwbYpUBvsIQHq
			gMdcoC747hCoB77nA/Uh8DA2hMB3AN2EUcPGj08Bo5RRYBimnm1c
			XRlW9KMUYM14KgxrXOS1yGsFLvabG9ZcqKKpYqHA7hxTkUg+Kr7D
			ikDXfm0gtkIQ1tYp19dt1VlVJE0sKuiVyTYSywE1HWJSp49NKsHr
			AiPoPpqyyCe8FtCbvGaEujhqQG3GbO+SsAtCLjBvWiTnUqKKl6VI
			wAp5pvA4s+h2aYZNlm14nutZop1UgL9uplfwICqFrcHGyagbMG/A
			TPc4KjzqCeFePglcGLUf+/C15PVOCQ5PB6BnUpP2j4deftx8EXEN
			+v/bPd4SO65E7yNeiBpW1mwSrv/xltzzW3L/ny11hAuRaoa1aDZ1
			a2onNaxQVqoe73gFHlr3/Dfjk0ywquZ6y0SNnwgVV7LUa0Lut+4R
			V0KHtApax20eF4nMU62Hw2WswPd9c7h+Mc2pWlf9A99j5N3d52jx
			5nI8nVOC/oynCpwuYdQKAQYOgQFzUQ6EBChEgpK4UXErCRcxY17e
			CZnuDqZuo2MagjSpeSbjmzzNBKC5qMX+AbwAUXhuTZieJb41POt3
			LUOJeTT4Ratn052Oczw0dpPbrUB5ag2vcI9dtfWfjIWOsboyPCMs
			aMbCXxEhIthZxOmBUfqFafTlGNZ7meBEjka/yBxz3EmRGh3k9Kz8
			BNhXWLsKZW5kc3RyZWFtCmVuZG9iagoyMiAwIG9iaiA8PAovVHlw
			ZSAvWFJlZgovSW5kZXggWzAgMjNdCi9TaXplIDIzCi9XIFsxIDIg
			MV0KL1Jvb3QgMjAgMCBSCi9JbmZvIDIxIDAgUgovSUQgWzwxQUJC
			MTRGMUM1MjAzNUQ1NDlBRDQ0MzdCRDk5NUM1MT4gPDFBQkIxNEYx
			QzUyMDM1RDU0OUFENDQzN0JEOTk1QzUxPl0KL0xlbmd0aCA3NSAg
			ICAgICAgCi9GaWx0ZXIgL0ZsYXRlRGVjb2RlCj4+CnN0cmVhbQp4
			2hXJaw2AMBhD0d6NjWeCBQgSSBCCHUyhBh8ogH4/Ttqmkj44hS4l
			1cHcZ7EesUfrDdITO5HvyGyNFavWWkchvollF9urHyI3BesKZW5k
			c3RyZWFtCmVuZG9iagoKb2JqCjw8Ci9FbmNvZGluZyAvTWFjUm9t
			YW5FbmNvZGluZwovUHJlYW1ibGUgKEVTYW5ub3BFU3NsYXNoZG9j
			dW1lbnRjbGFzc1sxMHB0XUVTbGVmdGJyYWNrYXJ0aWNsZUVTcmln
			aHRicmFjawpFU3NsYXNodXNlcGFja2FnZVt1c2VuYW1lc11FU2xl
			ZnRicmFja2NvbG9yRVNyaWdodGJyYWNrICV1c2VkIGZvciBmb250
			IGNvbG9yCkVTc2xhc2h1c2VwYWNrYWdlRVNsZWZ0YnJhY2thbXNz
			eW1iRVNyaWdodGJyYWNrICVtYXRocwpFU3NsYXNodXNlcGFja2Fn
			ZUVTbGVmdGJyYWNrYW1zbWF0aEVTcmlnaHRicmFjayAlbWF0aHMK
			RVNzbGFzaHVzZXBhY2thZ2VbdXRmOF1FU2xlZnRicmFja2lucHV0
			ZW5jRVNyaWdodGJyYWNrICV1c2VmdWwgdG8gdHlwZSBkaXJlY3Rs
			eSBkaWFjcml0aWMgY2hhcmFjdGVycwpFU2Fubm9wZW5kKQovRXNj
			YXBlZFByZWFtYmxlIChFU2Fubm9lcCU1Q2RvY3VtZW50Y2xhc3Ml
			NUIxMHB0JTVEJTdCYXJ0aWNsZSU3RCUwQSU1Q3VzZXBhY2thZ2Ul
			NUJ1c2VuYW1lcyU1RCU3QmNvbG9yJTdEJTIwJTI1dXNlZCUyMGZv
			ciUyMGZvbnQlMjBjb2xvciUwQSU1Q3VzZXBhY2thZ2UlN0JhbXNz
			eW1iJTdEJTIwJTI1bWF0aHMlMEElNUN1c2VwYWNrYWdlJTdCYW1z
			bWF0aCU3RCUyMCUyNW1hdGhzJTBBJTVDdXNlcGFja2FnZSU1QnV0
			ZjglNUQlN0JpbnB1dGVuYyU3RCUyMCUyNXVzZWZ1bCUyMHRvJTIw
			dHlwZSUyMGRpcmVjdGx5JTIwZGlhY3JpdGljJTIwY2hhcmFjdGVy
			cyUwQUVTYW5ub2VwZW5kKQovU3ViamVjdCAoRVNhbm5vdD1FU2Fu
			bm90ZW5kKQovRXNjYXBlZFN1YmplY3QgKEVTYW5ub2VzPUVTYW5u
			b2VzZW5kKQovVHlwZSAoRUV0eXBlNEVFdHlwZWVuZCkKL0NvbG9y
			IChFRWNvbDAuMDAwMDAwIDAuMDAwMDAwIDAuMDAwMDAwIDEuMDAw
			MDAwRUVjb2xlbmQpCi9CS0NvbG9yIChFRWJrYzEuMDAwMDAwIDEu
			MDAwMDAwIDEuMDAwMDAwIDEuMDAwMDAwRUVia2NlbmQpCi9UaXRs
			ZSAoRUV0aXRsZUVFdGl0bGVlbmQpCi9NYWduaWZpY2F0aW9uIChF
			RW1hZzIwLjAwMDAwMEVFbWFnZW5kKQovQmFzZWxpbmUgKEVFYmFz
			MC4wMDAwMDBFRWJhc2VuZCkKPj4KZW5kb2JqCgpvYmoKPDwKL0Vu
			Y29kaW5nIC9NYWNSb21hbkVuY29kaW5nCi9QcmVhbWJsZSAoRVNh
			bm5vcEVTc2xhc2hkb2N1bWVudGNsYXNzWzEwcHRdRVNsZWZ0YnJh
			Y2thcnRpY2xlRVNyaWdodGJyYWNrCkVTc2xhc2h1c2VwYWNrYWdl
			W3VzZW5hbWVzXUVTbGVmdGJyYWNrY29sb3JFU3JpZ2h0YnJhY2sg
			JXVzZWQgZm9yIGZvbnQgY29sb3IKRVNzbGFzaHVzZXBhY2thZ2VF
			U2xlZnRicmFja2Ftc3N5bWJFU3JpZ2h0YnJhY2sgJW1hdGhzCkVT
			c2xhc2h1c2VwYWNrYWdlRVNsZWZ0YnJhY2thbXNtYXRoRVNyaWdo
			dGJyYWNrICVtYXRocwpFU3NsYXNodXNlcGFja2FnZVt1dGY4XUVT
			bGVmdGJyYWNraW5wdXRlbmNFU3JpZ2h0YnJhY2sgJXVzZWZ1bCB0
			byB0eXBlIGRpcmVjdGx5IGRpYWNyaXRpYyBjaGFyYWN0ZXJzCkVT
			YW5ub3BlbmQpCi9Fc2NhcGVkUHJlYW1ibGUgKEVTYW5ub2VwJTVD
			ZG9jdW1lbnRjbGFzcyU1QjEwcHQlNUQlN0JhcnRpY2xlJTdEJTBB
			JTVDdXNlcGFja2FnZSU1QnVzZW5hbWVzJTVEJTdCY29sb3IlN0Ql
			MjAlMjV1c2VkJTIwZm9yJTIwZm9udCUyMGNvbG9yJTBBJTVDdXNl
			cGFja2FnZSU3QmFtc3N5bWIlN0QlMjAlMjVtYXRocyUwQSU1Q3Vz
			ZXBhY2thZ2UlN0JhbXNtYXRoJTdEJTIwJTI1bWF0aHMlMEElNUN1
			c2VwYWNrYWdlJTVCdXRmOCU1RCU3QmlucHV0ZW5jJTdEJTIwJTI1
			dXNlZnVsJTIwdG8lMjB0eXBlJTIwZGlyZWN0bHklMjBkaWFjcml0
			aWMlMjBjaGFyYWN0ZXJzJTBBRVNhbm5vZXBlbmQpCi9TdWJqZWN0
			IChFU2Fubm90PUVTYW5ub3RlbmQpCi9Fc2NhcGVkU3ViamVjdCAo
			RVNhbm5vZXM9RVNhbm5vZXNlbmQpCi9UeXBlIChFRXR5cGU0RUV0
			eXBlZW5kKQovQ29sb3IgKEVFY29sMC4wMDAwMDAgMC4wMDAwMDAg
			MC4wMDAwMDAgMS4wMDAwMDBFRWNvbGVuZCkKL0JLQ29sb3IgKEVF
			YmtjMS4wMDAwMDAgMS4wMDAwMDAgMS4wMDAwMDAgMS4wMDAwMDBF
			RWJrY2VuZCkKL1RpdGxlIChFRXRpdGxlRUV0aXRsZWVuZCkKL01h
			Z25pZmljYXRpb24gKEVFbWFnMjAuMDAwMDAwRUVtYWdlbmQpCi9C
			YXNlbGluZSAoRUViYXMwLjAwMDAwMEVFYmFzZW5kKQo+PgplbmRv
			YmoKCm9iago8PAovRW5jb2RpbmcgL01hY1JvbWFuRW5jb2RpbmcK
			L1ByZWFtYmxlIChFU2Fubm9wRVNzbGFzaGRvY3VtZW50Y2xhc3Nb
			MTBwdF1FU2xlZnRicmFja2FydGljbGVFU3JpZ2h0YnJhY2sKRVNz
			bGFzaHVzZXBhY2thZ2VbdXNlbmFtZXNdRVNsZWZ0YnJhY2tjb2xv
			ckVTcmlnaHRicmFjayAldXNlZCBmb3IgZm9udCBjb2xvcgpFU3Ns
			YXNodXNlcGFja2FnZUVTbGVmdGJyYWNrYW1zc3ltYkVTcmlnaHRi
			cmFjayAlbWF0aHMKRVNzbGFzaHVzZXBhY2thZ2VFU2xlZnRicmFj
			a2Ftc21hdGhFU3JpZ2h0YnJhY2sgJW1hdGhzCkVTc2xhc2h1c2Vw
			YWNrYWdlW3V0ZjhdRVNsZWZ0YnJhY2tpbnB1dGVuY0VTcmlnaHRi
			cmFjayAldXNlZnVsIHRvIHR5cGUgZGlyZWN0bHkgZGlhY3JpdGlj
			IGNoYXJhY3RlcnMKRVNhbm5vcGVuZCkKL0VzY2FwZWRQcmVhbWJs
			ZSAoRVNhbm5vZXAlNUNkb2N1bWVudGNsYXNzJTVCMTBwdCU1RCU3
			QmFydGljbGUlN0QlMEElNUN1c2VwYWNrYWdlJTVCdXNlbmFtZXMl
			NUQlN0Jjb2xvciU3RCUyMCUyNXVzZWQlMjBmb3IlMjBmb250JTIw
			Y29sb3IlMEElNUN1c2VwYWNrYWdlJTdCYW1zc3ltYiU3RCUyMCUy
			NW1hdGhzJTBBJTVDdXNlcGFja2FnZSU3QmFtc21hdGglN0QlMjAl
			MjVtYXRocyUwQSU1Q3VzZXBhY2thZ2UlNUJ1dGY4JTVEJTdCaW5w
			dXRlbmMlN0QlMjAlMjV1c2VmdWwlMjB0byUyMHR5cGUlMjBkaXJl
			Y3RseSUyMGRpYWNyaXRpYyUyMGNoYXJhY3RlcnMlMEFFU2Fubm9l
			cGVuZCkKL1N1YmplY3QgKEVTYW5ub3Q9RVNhbm5vdGVuZCkKL0Vz
			Y2FwZWRTdWJqZWN0IChFU2Fubm9lcz1FU2Fubm9lc2VuZCkKL1R5
			cGUgKEVFdHlwZTRFRXR5cGVlbmQpCi9Db2xvciAoRUVjb2wwLjAw
			MDAwMCAwLjAwMDAwMCAwLjAwMDAwMCAxLjAwMDAwMEVFY29sZW5k
			KQovQktDb2xvciAoRUVia2MxLjAwMDAwMCAxLjAwMDAwMCAxLjAw
			MDAwMCAxLjAwMDAwMEVFYmtjZW5kKQovVGl0bGUgKEVFdGl0bGVF
			RXRpdGxlZW5kKQovTWFnbmlmaWNhdGlvbiAoRUVtYWcyMC4wMDAw
			MDBFRW1hZ2VuZCkKL0Jhc2VsaW5lIChFRWJhczAuMDAwMDAwRUVi
			YXNlbmQpCj4+CmVuZG9iagpzdGFydHhyZWYKOTIwMQolJUVPRoAF
			0iwtLi9aJGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFibGVEYXRh
			oy4wMVZOU0RhdGFYTlNPYmplY3TTMwo0NTY3WE5TU3RyaW5nXE5T
			QXR0cmlidXRlc4AHgA6ACF8Q0lxkb2N1bWVudGNsYXNzWzEwcHRd
			e2FydGljbGV9Clx1c2VwYWNrYWdlW3VzZW5hbWVzXXtjb2xvcn0g
			JXVzZWQgZm9yIGZvbnQgY29sb3IKXHVzZXBhY2thZ2V7YW1zc3lt
			Yn0gJW1hdGhzClx1c2VwYWNrYWdle2Ftc21hdGh9ICVtYXRocwpc
			dXNlcGFja2FnZVt1dGY4XXtpbnB1dGVuY30gJXVzZWZ1bCB0byB0
			eXBlIGRpcmVjdGx5IGRpYWNyaXRpYyBjaGFyYWN0ZXJzCtM6CQo7
			PT9XTlMua2V5c6E8gAmhPoAKgA1WTlNGb2501EJDRApFRkdIVk5T
			U2l6ZVhOU2ZGbGFnc1ZOU05hbWUjQCgAAAAAAAAQEIALgAxWTW9u
			YWNv0iwtS0xWTlNGb250ok0xVk5TRm9udNIsLU9QXE5TRGljdGlv
			bmFyeaJPMdIsLVJTXxASTlNBdHRyaWJ1dGVkU3RyaW5nolQxXxAS
			TlNBdHRyaWJ1dGVkU3RyaW5n0zMKNFY2N4AQgA6ACFE901tcCl1e
			X1VOU1JHQlxOU0NvbG9yU3BhY2VGMCAwIDAAEAGAEtIsLWFiV05T
			Q29sb3KiYzFXTlNDb2xvctJlCmZnV05TLnRpbWUjQbtbv/4G55KA
			FNIsLWlqVk5TRGF0ZaJrMVZOU0RhdGXSCm1ub1lOUy5zdHJpbmeA
			FlDSLC1xcl8QD05TTXV0YWJsZVN0cmluZ6NxczFYTlNTdHJpbmfS
			LC11dl8QD0xhdGV4aXRFcXVhdGlvbqN3eDFfEA9MYXRleGl0RXF1
			YXRpb25fEA9OU01hbmFnZWRPYmplY3TSLC16e1dOU0FycmF5onwx
			V05TQXJyYXlfEA9OU0tleWVkQXJjaGl2ZXLRf4BUcm9vdIABAAgA
			EQAaACMALQAyADcAUwBZAF4AaQBwAHIAdAB2AI8AlwCiAKwAtQC+
			AMYA2ADeAOMA6QDuAPAA8gD7AQQBBgEIAQoBDAEOARABEgEUARoB
			HwEnMuAy4jLnMvIy+zMJMw0zFDMdMyQzLTM6MzwzPjNANBU0HDQk
			NCY0KDQqNCw0LjQ1ND40RTRONFU0XjRgNGI0ZDRrNHA0dzR6NIE0
			hjSTNJY0mzSwNLM0yDTPNNE00zTVNNc03jTkNPE0+DT6NPw1ATUJ
			NQw1FDUZNSE1KjUsNTE1ODU7NUI1RzVRNVM1VDVZNWs1bzV4NX01
			jzWTNaU1tzW8NcQ1xzXPNeE15DXpAAAAAAAAAgEAAAAAAAAAgQAA
			AAAAAAAAAAAAAAAANes=
			</data>
			<key>bundleId</key>
			<string>fr.chachatelier.pierre.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
	</array>
	<key>ImageList</key>
	<array>
		<string>image17.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoLineLength</key>
		<real>0.20000000298023224</real>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2015-07-19 16:45:05 +0000</string>
	<key>Modifier</key>
	<string>Tim Rocktäschel</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>40</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperName</key>
		<array>
			<string>string</string>
			<string>ANSI A</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>0</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>Expanded_Canvases</key>
		<array/>
		<key>Frame</key>
		<string>{{0, 4}, {1280, 773}}</string>
		<key>ShowInfo</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>200</integer>
		<key>TopSlabHeight</key>
		<real>250</real>
		<key>Zoom</key>
		<real>3.6185286045074463</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>3.6185286045074463</real>
				<real>1.8092643022537231</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
